#include "{{triton_header1}}"
#include "{{triton_header2}}"


extern "C" {
void {{func_name}} (
    void* output_ptr,             // [num_seqs, num_kv_heads, q_group_size, head_size]
    void* exp_sums_ptr,           // [num_seqs, num_kv_heads, max_parts, q_group_size]
    void* max_logits_ptr,         // [num_seqs, num_kv_heads, max_parts, q_group_size]
    void* logits_ptr,             // [num_seqs, num_kv_heads, max_parts, q_group_size, head_size]
    void* query_ptr,              // [num_seqs, num_kv_heads * q_group_size, head_size]
    void* key_cache_ptr,          // [num_blocks, num_kv_heads, head_size // x, kv_block_size, x]
    void* value_cache_ptr,        // [num_blocks, num_kv_heads, head_size, kv_block_size] or [num_blocks, num_kv_heads, kv_block_size // x, head_size, x]
    void* block_tables_ptr,       // [num_seqs, max_num_blocks_per_seq]
    void* sequence_lengths_ptr,   // [num_seqs]
    void* sinks_ptr,              // [num_query_heads]
    double softmax_scale,
    void* query_scale,            // [num_seqs, num_kv_heads * q_group_size, 1]
    void* key_scale,              // [num_blocks, num_kv_heads, kv_block_size, 1]
    void* value_scale,            // [num_blocks, num_kv_heads, kv_block_size, 1]
    int stride_output_seq,
    int stride_output_head,
    int stride_exp_sums_seq,
    int stride_exp_sums_head,
    int stride_exp_sums_part,
    int stride_logits_seq,
    int stride_logits_head,
    int stride_logits_part,
    int stride_logits_group,
    int stride_query_seq,
    int stride_query_head,
    int stride_key_block,
    int stride_key_head,
    int stride_key_head_split,
    int stride_key_block_elem,
    int stride_value_block,
    int stride_value_head,
    int stride_value_head_size,
    int stride_block_table_seq,
    int query_scale_stride_0,
    int kv_scale_stride_0,
    int kv_scale_stride_1,
    int num_seqs,
    int num_kv_heads,
    int max_context_partition_num,
    int query_seq_len,
    int query_group_size,
    int equivalent_query_group_size,
    int head_size,
    void* stream
    );
}


void {{func_name}} (
    void* output_ptr,             // [num_seqs, num_kv_heads, q_group_size, head_size]
    void* exp_sums_ptr,           // [num_seqs, num_kv_heads, max_parts, q_group_size]
    void* max_logits_ptr,         // [num_seqs, num_kv_heads, max_parts, q_group_size]
    void* logits_ptr,             // [num_seqs, num_kv_heads, max_parts, q_group_size, head_size]
    void* query_ptr,              // [num_seqs, num_kv_heads * q_group_size, head_size]
    void* key_cache_ptr,          // [num_blocks, num_kv_heads, head_size // x, kv_block_size, x]
    void* value_cache_ptr,        // [num_blocks, num_kv_heads, head_size, kv_block_size] or [num_blocks, num_kv_heads, kv_block_size // x, head_size, x]
    void* block_tables_ptr,       // [num_seqs, max_num_blocks_per_seq]
    void* sequence_lengths_ptr,   // [num_seqs]
    void* sinks_ptr,              // [num_query_heads]
    double softmax_scale,
    void* query_scale,            // [num_seqs, num_kv_heads * q_group_size, 1]
    void* key_scale,              // [num_blocks, num_kv_heads, kv_block_size, 1]
    void* value_scale,            // [num_blocks, num_kv_heads, kv_block_size, 1]
    int stride_output_seq,
    int stride_output_head,
    int stride_exp_sums_seq,
    int stride_exp_sums_head,
    int stride_exp_sums_part,
    int stride_logits_seq,
    int stride_logits_head,
    int stride_logits_part,
    int stride_logits_group,
    int stride_query_seq,
    int stride_query_head,
    int stride_key_block,
    int stride_key_head,
    int stride_key_head_split,
    int stride_key_block_elem,
    int stride_value_block,
    int stride_value_head,
    int stride_value_head_size,
    int stride_block_table_seq,
    int query_scale_stride_0,
    int kv_scale_stride_0,
    int kv_scale_stride_1,
    int num_seqs,
    int num_kv_heads,
    int max_context_partition_num,
    int query_seq_len,
    int query_group_size,
    int equivalent_query_group_size,
    int head_size,
    void* stream
    ) {
    {{triton_kernel1}}(reinterpret_cast<hipStream_t>(stream), exp_sums_ptr, max_logits_ptr, logits_ptr, query_ptr, key_cache_ptr, value_cache_ptr,
                      block_tables_ptr, sequence_lengths_ptr, softmax_scale, query_scale, key_scale, value_scale,
                      stride_exp_sums_seq, stride_exp_sums_head, stride_exp_sums_part,
                      stride_logits_seq, stride_logits_head, stride_logits_part, stride_logits_group,
                      stride_query_seq, stride_query_head, stride_key_block, stride_key_head, stride_key_head_split,
                      stride_key_block_elem, stride_value_block, stride_value_head, stride_value_head_size,
                      stride_block_table_seq, query_scale_stride_0, kv_scale_stride_0, kv_scale_stride_1, query_seq_len, query_group_size, head_size,
                      num_seqs, num_kv_heads, max_context_partition_num);
    {{triton_kernel2}}(reinterpret_cast<hipStream_t>(stream), output_ptr, exp_sums_ptr, max_logits_ptr, logits_ptr, sequence_lengths_ptr, sinks_ptr,
                      stride_output_seq, stride_output_head, stride_exp_sums_seq, stride_exp_sums_head,
                      stride_exp_sums_part, stride_logits_seq, stride_logits_head, stride_logits_part,
                      stride_logits_group, equivalent_query_group_size, head_size, num_seqs, num_kv_heads);
}
