[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
[submodule "3rdparty/HipKittens"]
	path = 3rdparty/HipKittens
	url = https://github.com/HazyResearch/HipKittens
